<div class="timeline">
    {{#each articles}}
        <div class="article">
            <a href="/detail/{{_id}}">
            <div class="time">{{displayTime}}</div>
            <div class="title">{{content}}</div>
            <div class="pic"><img src="{{pic}}" alt=""/></div>
            <div class="author">作者：{{author}}</div>
            </a>
        </div>
    {{/each}}
</div>

