<div class="warp">
    <div class="num"></div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{{pic}}" alt=""/></div>
        </div>
        <!--<div class="swiper-pagination"></div>-->
    </div>
    <div class="author">{{author}} 作品</div>
    <div class="content-warp">
        <div class="date">
            <div class="day">21</div>
            <div class="month">Jan,2016</div>
        </div>
        <div class="content"><div class="left"></div>{{content}}</div>
    </div>
</div>
<script>
    $(function(){
        $(".day").html(moment({{createTime}}).format("DD"));
        $(".month").html(moment({{createTime}}).format("MMM,YYYY"));
    })
</script>
