
<div class="warp">
    <div class="num">VOL.0001</div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{{pic}}" alt=""/></div>
        </div>
        <!--<div class="swiper-pagination"></div>-->
    </div>
    <div class="author">{{author}} 作品</div>
    <div class="reply" onclick="showAction()"><div class="action"><span onclick="good()" style="border-right: #3b3e43 1px solid">赞</span><span onclick="reply('{{_id}}')">评论</span></div><img src="/images/reply.png" alt=""/></div>
    <div class="content-warp">
        <div class="date">
            <div class="day">{{createTime}}</div>
            <div class="month">{{createTime}}</div>
        </div>
        <div class="content"><div class="left"></div>{{{content}}}</div>
    </div>

{{#each replies}}
    <div class="content-warp content-warp-right">
        <div class="date">
            <div class="day">{{createTime}}</div>
            <div class="month">{{createTime}}</div>
        </div>
        <div class="content"><div class="right"></div>{{{content}}}</div>
    </div>
{{/each}}
</div>
<script>
    $(function(){
        function dateFormat(date,opt){
            var date=parseInt(date);
            return moment(date).format(opt);
        }
        var days=$(".day");
        var month=$(".month");
        for(var i=0;i<days.length;i++){
            $(days[i]).html(dateFormat($(days[i]).html(),"DD"));
        }
        for(var j=0;j<month.length;j++){
            $(month[j]).html(dateFormat($(month[j]).html(),"MMM,YYYY"));
        }

    })
    //显示隐藏评论按钮层
    function showAction(){
        $(".reply .action").toggle();
    }
    //点赞
    function good(){
        console.log("dianzan")
    }
    //评论
    function reply(id){
        location.href="/reply/"+id
    }
</script>
